:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: #2e2f42;
  --grey: #2e2f42;
  --white: #fff;
}

/* * {
  margin: 0;
  padding: 0;
} */

body {
  font-family: "Roboto", sans-serif;
  color: var(--slate);
}

/* Header */

header {
  background-color: var(--white);
  border-bottom: 1px solid var(--cornflower);
}

.link-studio {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--iris);
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.link-studio-h {
  color: var(--navy-blue);
}

.link-studio-f {
  color: var(--cloud);
}

.list {
  list-style: none;
}

.list-link {
  color: var(--navy-blue);
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.list-link:hover,
.list-link:focus {
  color: var(--ocean);
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.list-address {
  color: var(--slate);
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.list-address:hover,
.list-address:focus {
  color: var(--ocean);
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Main */

/* Main Studio Section 1 */

.studio-sect-one {
  background-color: var(--navy-blue);
}

.main-title {
  color: var(--white);
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.main-button-index {
  font-family: "Roboto", sans-serif;
  border: none;
  width: 169px;
  height: 56px;
  left: 20px;
  top: 20px;
  background: var(--iris);
  color: var(--white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.main-button-index:hover,
.main-button-index:focus {
  border: none;
  width: 169px;
  height: 56px;
  left: 20px;
  top: 20px;
  background: var(--ocean);
  color: var(--white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

/* Main Studio Section 2 */

.studio-sect-two {
}

.sect-title {
  color: var(--navy-blue);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

h3 {
  color: var(--navy-blue);
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

h3 > p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--slate);
}

/* Main Section 3 */

/* Main Section 4 */

.our-team-section {
  background-color: var(--cloud);
}

.our-team-class {
  background-color: var(--white);
}

/* Portfolio Section 2 */

.main-button-portfolio {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--iris);
  height: 48px;
  background-color: var(--cloud);
  border: 1px solid var(--cornflower);
  border-radius: 4px;
  cursor: pointer;
}

.main-button-portfolio:active {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--white);
  height: 48px;
  background-color: var(--ocean);
  border-radius: 4px;
  cursor: pointer;
}

/* Portfolio Section 3 */

.portfolio-class {
  background: var(--white);
  /* CORNFLOWER */

  border: 1px solid var(--cornflower);
}

/* Footer */

footer {
  background-color: var(--navy-blue-modal);
}

footer > p {
  color: var(--cornflower);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
